body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(0,0,0,0.7);
}

.navbar {
    background-color: #fff;
}

.nav li {
    padding-left: 10px;
    padding-right: 10px;
}

.nav a {
    font-family: 'Open Sans', sans-serif;
    color: rgb(0,0,0,0.7);
    font-size: 1.1rem;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: none;
}

.nav .active {
    color: #399bd1; 
}




/********** MEDIA QUERIES **********/



@media only screen and (max-width: 670px) {
    
    .navbar {
        padding-top: 0;
        margin-bottom: 4px;
    }

    .navbar-brand {
        display: none;
    }

    .nav {
        display: block;
    }

    .nav li {
        padding-top: 12px;
    }

}